* {
  box-sizing: border-box;
}
body {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}
.screen {
  background-color: #ffe8d1;
  color: #AD7575;
  border-radius: 30px 30px 0 0;
  text-align: end;
  font-size: 28px;
  font-weight: bold;
  width: 100%;
  height: 80px;
  padding: 10px 15px;
  margin-top: 20px;
  border: 10px solid #D6B090;
}
.buttons {
  padding: 30px 23px 20px 23px;
  background-color: bisque;
  border-radius: 0 0 20px 20px;
}
.line {
  display:flex;
  justify-content: space-around;
}
button {
  background-color: #CC9966;
  border-radius: 10px;
  color: white;
  width: 23%;
  height: 60px;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
  margin: 5px 0px;
}
